html { 
    /*font-family: "Century Gothic", CenturyGothic, AppleGothic, nevis, sans-serif;*/
}

body {
    background-color: #efefef;
    font-family: "Century Gothic", CenturyGothic;
}

.futer {
    background-color:  #efefef;
    margin-left: auto;
    margin-right: auto;
    width: 780px;
    height: 330px;
    position: relative;
}

.main-top {
	top: -25px;
	position: relative;
    background: url(/img/bg_tabla.jpg) no-repeat top center;
    height: 738px;
    width: 100%;
}

.header-red {
	position: relative;
	background: url(/img/patru.jpg) no-repeat top center fixed;
	height: 125px;
	width: 100%;
}

.content-home {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 780px;
}

.header-btn {
	border-radius: 8px;
	background-color:  #ffffff;
	width: 184px;
	height: 58px;
	float: left;
	margin-right: 10px;
}

.center-mid {
	position: relative;
	margin-left: auto;
	margin-right: auto;
    width: 780px;	
    padding-top: 30px;
}

.header-span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #7c7c7c;
    width: 162px;
    height: 39px;
    padding-left: 20px;
}

.pixma-cool {
	padding-top: 10px;
}

.inscriere {
	padding-top: 10px;
}

.castigatori {
	padding-top: 10px;
}

span.header-span:hover {
	color: #000000;
	text-decoration: none;
}

.triangle {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 51px;
    left: -30px;
    margin-top: -1px;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #c3000a;
	display: none;
}

.full-header {
	z-index: 99;
	position: relative;
}

.split {
	background-color:  #ffffff;
	width: 800px;
	height: 5px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.promotie-canon {
	margin-top: 10px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	/*background: url(/img/promotie-canon.png) no-repeat top center fixed;*/
	height: 420px;
	width: 780px;
}

.content {
	width: 760px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.content-video {
	width: 780px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.date {
	color:  #000000;
	font-size: 26px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: left;
}

.intrebare {
	margin-top: 20px;
	color:  #000000;
	font-size: 23px;/* Approximation due to font substitution */
	font-weight: 700;
	text-align: left;
}

.radio-inline {
	color:  #000000;
	font-size: 20px;/* Approximation due to font substitution */
	text-align: left;
}

.radio-inline+.radio-inline {
	margin-left: 30px;
}

.red-split {
	background-color: #da020d;
	width: 547px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 760px;
}

.steluta-red {
	color:  #da020d;
	font-size: 14px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: left;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 760px;
}

.date-corecte {
	color: #000000;
	font-size: 20px; /* Approximation due to font substitution */
	font-weight: 400;
	text-align: left;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 760px;
}

.btn-trimite {
	background-color:  #cc0001;
	width: 148px;
	height: 43px;
	color:  #ffffff;
	font-size: 22.14px;/* Approximation due to font substitution */
	font-weight: 400;
	border-radius: 7px;
	display: block;
	margin: 20px 0;
	position: absolute;
    cursor: pointer;
}

.btn-trimite-pixma {
    background-color: #cc0001;
    width: 148px;
    height: 43px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    border-radius: 7px;
    position: absolute;
    margin-bottom: 30px;
    right: 156px;
    bottom: -80px;
    text-align: center;
}

.btn-trimite-inscriere {
	background-color:  #cc0001;
	width: 148px;
	height: 43px;
	color:  #ffffff;
	font-size: 22.14px;/* Approximation due to font substitution */
	font-weight: 400;
	border-radius: 7px;
	margin: 20px 0;
	position: absolute;
    right: 0px;
    top: -20px;
}

.emailbox {
	background-color:  #efefef;
	width: 300px;
    display: inline-block;
    margin-left: 130px;
    margin-top: 10px;
}

.numebox {
	background-color:  #efefef;
	width: 300px;
    display: inline-block;
    margin-left: 60px;
    margin-top: 10px;
}

.telefonbox {
	background-color:  #efefef;
	width: 300px;
    display: inline-block;
    margin-left: 121px;
    margin-top: 10px;
}

/*.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}*/

.form-inscriere {
	margin-left: auto;
	margin-right: auto;
	width: 760px;
	position: relative;
}

h4.checkbox3 {
    display: inline-block;
    position: absolute;
    top: 141px;
    left: 30px;
}

input.checkbox2 {
    margin-top: 20px;
    border-style: solid;
	border-width: 1px;
	border-color:  #010101;
	background-color:  #ffffff;
	width: 22px;
	height: 22px;
}

.conditii {
	color:  #7a7a7a;
	font-size: 12px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: left;
}

div.conditii {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 780px;
}

.regulament {
	color:  #7a7a7a;
	font-size: 23px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: left;
}

.regulament2 {
	color:  #7a7a7a;
	font-size: 23px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: left;
    margin-top: -30px;
}

.video-page {
	color:  #000000;
	font-size: 26px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: left;
	line-height: 70px;
}

.warning {
    border: 1px solid red;
}

.invizibil {
    width: 300px;
    height: 150px;
    color: black;
    display: none;
    font-weight: 500;
    text-align: center;
    position: relative;
    font-size: 29px;
    margin-left: auto;
    margin-right: auto;
}

.felicitari {
    color: red;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    margin: 0;
    width: 238px;
    top: 60px;
    left: 30px;
}

.school-ready {
    width: 780px;
    color: #ffffff;
    font-size: 45px;
    font-weight: 400;
    text-align: left;
    top: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

span.premii {
    top: -9px;
    position: absolute;
    left: 33px;
    color: #000000;
    font-size: 35px;
    font-weight: 700;
    text-align: left;
}

span.premii-intrebare {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    width: 384px;
    height: 66px;
    top: -10px;
    position: absolute;
    left: 373px;
}

span.promotie {
    position: absolute;
    top: -7px;
    left: 36px;
    color: #000000;
    font-size: 35px;
    font-weight: 700;
    text-align: left;
}

span.promotie-pipe {
    position: absolute;
    top: -5px;
    left: 390px;
    color: #000000;
    font-size: 33px;
    font-weight: 400;
    text-align: left;
}

span.promotie-parteneri {
    position: absolute;
    color: #000000;
    font-size: 26px;
    font-weight: 400;
    text-align: left;
    left: 1px;
    top: 50px;
}

p.conditii1 {
    color: #7a7a7a;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    position: absolute;
    top: -50px;
}

p.conditii2 {
    color: #7a7a7a;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    position: absolute;
    top: -30px;
}

span.doix {
	color:  #000000;
	font-size: 47.86px;/* Approximation due to font substitution */
	font-weight: 700;
	text-align: left;
	position: absolute;
	left: 0;
	top: 70px;
}

span.unux {
	color:  #000000;
	font-size: 47.86px;/* Approximation due to font substitution */
	font-weight: 700;
	text-align: left;
	position: absolute;
    right: 200px;
    top: 70px;
}

span.imprimanta {
	color:  #000000;
	font-size: 20.09px;/* Approximation due to font substitution */
	font-weight: 700;
	text-align: left;
	position: absolute;
	left: 0;
    top: 122px;
    width: 130px;
}

span.ipad {
	color:  #000000;
	font-size: 20.09px;/* Approximation due to font substitution */
	font-weight: 700;
	text-align: left;
	position: absolute;
    right: 180px;
    top: 122px;
}

span.back-to-school {
    line-height: 19px;
    padding-top: 9px;
}

.active {
	color: #000000;
}

.show-home {
	display: block;
	top: 46px;
}

.show-pixma {
	display: block;
	top: 46px;
}

.show-inscriere {
	display: block;
	top: 46px;
}

.btn-pixma {
	vertical-align: middle;
    position: absolute;
    width: 148px;
    height: 43px;
    left: 0px;
    text-align: center;
    top: 5px;
}

span.btn-inscriere {
    position: absolute;
    width: 148px;
    height: 43px;
    left: 0px;
    text-align: center;
    top: 5px;
}

span.btn-inscrie {
	position: absolute;
    width: 148px;
    height: 43px;
    left: 0px;
    text-align: center;
    top: 5px;
}

.video {
	background-color:  #ffffff;
	box-shadow: 0px 2px 0px 0px #e3e3e3;
	width: 780px;
	height: 464px;
	z-index: -1;
	position: relative;
	margin-left: auto;
	margin-right: auto;
    border-radius: 10px;
}

iframe.frame {
    position: absolute;
    left: 36px;
    top: 27px;
}

input[type='radio'] {
    -webkit-appearance:none;
    top: 2px;
    width:18px;
    height:18px;
    border:1px solid #cfcfcf;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 5px 0px gray inset;
}

/*input[type='radio']:hover {
    box-shadow: none;
}*/

input[type='radio']:before {
    content:'';
    display:block;
    width:100%;
    height:100%;
    margin:auto;
    border-radius:50%;
}

input[type='radio']:checked:before {
    background: #cc0001;
}
