html { 
    font-family: "Century Gothic", CenturyGothic, AppleGothic, nevis, sans-serif;
}

body {
    background-color: #efefef
}

.futer {
    background-color:  #efefef;
    margin-left: auto;
    margin-right: auto;
    width: 780px;
    height: 330px;
    position: relative;
}

.main-top {
	top: -25px;
	position: relative;
    background: url(/img/doar-content.png) no-repeat top center;
    height: 738px;
    width: 100%;
}

.header-red {
	position: relative;
	background: url(/img/red-top.png) no-repeat top center fixed;
	height: 125px;
	width: 100%;
}

.header-btn {
	border-radius: 8px;
	background-color:  #ffffff;
	width: 184px;
	height: 58px;
	float: left;
	margin-right: 10px;
}

.center-mid {
	position: relative;
	margin-left: auto;
	margin-right: auto;
    width: 780px;	
    padding-top: 30px;
}

.header-span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #7c7c7c;
    width: 162px;
    height: 39px;
    padding-left: 20px;
}

.pixma-cool {
	padding-top: 10px;
}

.inscriere {
	padding-top: 10px;
}

.castigatori {
	padding-top: 10px;
}

span.header-span:hover {
	color: #000000;
}

.triangle {
    margin-top: -1px;
	margin-left: 270px;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #c3000a;
}

.full-header {
	z-index: 99;
	position: relative;
}

.split {
	background-color:  #ffffff;
	width: 800px;
	height: 5px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.promotie-canon {
	margin-top: 10px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	/*background: url(/img/promotie-canon.png) no-repeat top center fixed;*/
	height: 420px;
	width: 780px;
}

.content {
	width: 760px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.date {
	color:  #000000;
	font-size: 26px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: left;
}

.intrebare {
	margin-top: 20px;
	color:  #000000;
	font-size: 23px;/* Approximation due to font substitution */
	font-weight: 700;
	text-align: left;
}

.radio-inline {
	color:  #000000;
	font-size: 20px;/* Approximation due to font substitution */
	text-align: left;
}

.radio-inline+.radio-inline {
	margin-left: 30px;
}

.red-split {
	background-color: #da020d;
	width: 547px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 760px;
}

.steluta-red {
	color:  #da020d;
	font-size: 14px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: left;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 760px;
}

.date-corecte {
	color: #000000;
	font-size: 20px; /* Approximation due to font substitution */
	font-weight: 400;
	text-align: left;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 760px;
}

.btn-trimite {
	background-color:  #cc0001;
	width: 148px;
	height: 43px;
	color:  #ffffff;
	font-size: 22.14px;/* Approximation due to font substitution */
	font-weight: 400;
	border-radius: 10px;
	display: block;
	margin: 20px 0;
}

.emailbox {
	background-color:  #efefef;
	width: 300px;
    display: inline-block;
    margin-left: 130px;
    margin-top: 10px;
}

.numebox {
	background-color:  #efefef;
	width: 300px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
}

.telefonbox {
	background-color:  #efefef;
	width: 300px;
    display: inline-block;
    margin-left: 119px;
    margin-top: 10px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-inscriere {
	margin-left: auto;
	margin-right: auto;
	width: 760px;
	position: relative;
}

h4.checkbox3 {
    display: inline-block;
    position: absolute;
    top: 141px;
    left: 30px;
}

input.checkbox2 {
    margin-top: 20px;
    border-style: solid;
	border-width: 1px;
	border-color:  #010101;
	background-color:  #ffffff;
	width: 22px;
	height: 22px;
}

.conditii {
	color:  #7a7a7a;
	font-size: 11px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: left;
}

div.conditii {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 780px;
}

.regulament {
	color:  #7a7a7a;
	font-size: 23px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: left;
}
